
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@mixin media($value) {
    @if ($value < 0) {
        @media screen and (min-width: calc($value * (-1)) + 'px') {
            @content;
        }

    } @else {
        @media screen and (max-width: $value + 'px') {
            @content;
        }
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent !important;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}


img {
    max-width: 100%;
}

span, label {
    display: inline-block;
}

html {
    scroll-behavior: smooth;
}

input, textarea {
    outline: none;
    border: 0;
    background: transparent;
}

button {
    border: none;
    cursor: pointer;
    background: transparent;
    outline: 0;
    font-family: 'Inter', sans-serif;
}

address {
    font-style: normal;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    min-height: 100svh;
}

ul, ol, dl {
    list-style: none;
    padding: 0;
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main_container {
    max-width: 1288px;
    margin: 0 auto;

    @include media(1318) {
        max-width: calc(100% - 30px);
    }
}

.btn {
    &_lightgreen {
        font-size: 16px;
        line-height: auto;
        color: #4F4F4F;
        padding: 19px 26px 19.7px;
        background: #A8FCE0;
        border-radius: 40px;
    }

    &_gradient {
        font-size: 26px;
        line-height: 100%;
        color: #000;
        padding: 20px 40px;
        border-radius: 67px;
        background: linear-gradient(180deg, rgba(75, 255, 190, 0.48) 0%, rgba(82, 75, 255, 0.48) 100%);
        border: 1px solid #fff;
        backdrop-filter: blur(3px);
        text-transform: uppercase;

        @include media(992) {
            font-size: 12.91px;
            padding: 9.93px 19.85px;
        }
    }
}

// Header
.header {
    padding: 35px 0;
    
    @include media(-992) {
        border-bottom: 1px solid #ECECEC;
        padding: 15px 0 0;
    }

    &__container {
        max-width: 1833px;
        margin: 0 auto;
        
        @include media(1913) {
            max-width: calc(100% - 80px);
        }

        @include media(992) {
            max-width: calc(100% - 30px);
        }
    }

    &__logo {
        gap: 10px;

        &_name {
            font-size: 31px;
            line-height: 100%;
            letter-spacing: 1%;
            font-weight: 600;
            margin-bottom: 2px;
        }

        &_description {
            font-size: 13.32px;
            font-weight: 500;
            line-height: 11.7px;
            color: #8D8E92;
        }
    }

    &__navs {
        gap: 45px;

        a {
            color: #303030;
            font-size: 18px;
            line-height: auto;
        }
    }
}
// Header end

// Home
.home {
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    
    @include media(-992) {
        border-bottom: 1px solid #ECECEC;
    }

    &__bg {
        min-width: 2057px;
        position: absolute;
        z-index: -1;
        left: 50%;
        top: 50px;
        transform: translateX(-50%);

        @include media(1250) {
            transform: translateX(calc(-50% - 200px));
        }

        @include media(992) {
            top: auto;
            bottom: 0;
            min-width: calc(1600px);
            transform: translateX(calc(-50% - 225px));
        }
        
        @include media(576) {
            min-width: 1021px;
            transform: translateX(calc(-50% - 150px));
        }
    }

    &__container {
        padding: 143px 0 200px;
        position: relative;

        @include media(992) {
            padding: 89px 0 420px;
        }

        @include media(576) {
            padding: 89px 0 368px;
        }
    }

    &__title {
        max-width: 667px;
        font-size: 40px;
        line-height: auto;
        font-weight: 400;
        color: #303030;
        margin-bottom: 32px;

        @include media(992) {
            max-width: 345px;
            margin: 0 auto 22px;
            font-size: 24px;
            text-align: center;
        }

        span {
            color: #A9B5F9;
        }
    }

    &__subtitle {
        margin-bottom: 64px;
        font-size: 16px;
        line-height: 180%;
        letter-spacing: -2%;
        color: rgba(0, 0, 0, 0.45);

        @include media(992) {
            line-height: 120%;
            max-width: 346px;
            margin: 0 auto 33px;
            text-align: center;
        }
    }

    .btn_lightgreen {
        margin-left: -9px;
        margin-bottom: 146px;

        @include media(576) {
            margin-bottom: 0;
        }
    }

    .our_clients {
        gap: 18px;

        &__imgs {
            position: relative;
            width: 125px;

            img {
                position: absolute;
                min-width: 53px;
                height: 53px;
                border-radius: 50%;
                object-fit: cover;
                border: 2px solid #fff;
                left: 0;
                top: 50%;
                transform: translateY(-50%);

                &:nth-child(2) {
                    left: 35.46px;
                }
            }

            span {
                width: 53px;
                height: 53px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #A9B5F9;
                border: 2px solid #fff;
                position: relative;
                border-radius: 50%;
                font-size: 12.75px;
                line-height: 124.5%;
                line-height: 3%;
                color: #fff;
            }
        }

        p {
            color: #303030;
            font-size: 17px;
            line-height: 100%;
            letter-spacing: 1%;
        }
    }

    &__links {
        a {
            position: absolute;
            white-space: nowrap;

            @include media(1250) {
                transform: translateX(-100px);
            }

            @include media(1100) {
                transform: translateX(-50px);
            }

            @include media(1050) {
                transform: translateX(0px);
            }

            @include media(992) {
                transform: translateX(0);
            }
            
            &:nth-child(1) {
                top: 210px;
                right: 62px;

                @include media(992) {
                    top: auto;
                    bottom: 432px;
                    right: 50%;
                    transform: translateX(calc(50% + 138px));
                }
                
                @include media(576) {
                    bottom: 278px;
                    transform: translateX(calc(50% + 65px));
                }
            }

            &:nth-child(2) {
                top: 345px;
                right: 330px;

                @include media(992) {
                    top: auto;
                    bottom: 331px;
                    right: 50%;
                    transform: translateX(calc(50% - 162px));
                }
                
                @include media(576) {
                    bottom: 211px;
                    transform: translateX(calc(50% - 80px));
                }
            }

            &:nth-child(3) {
                top: 460px;
                right: 40px;

                @include media(992) {
                    top: auto;
                    bottom: 252px;
                    right: 50%;
                    transform: translateX(calc(50% + 225px));
                }
                
                @include media(576) {
                    bottom: 155px;
                    transform: translateX(calc(50% + 87px));
                }
            }

            &:nth-child(4) {
                top: 553px;
                right: 358px;

                @include media(992) {
                    top: auto;
                    bottom: 165px;
                    right: 50%;
                    transform: translateX(calc(50% - 95px));
                }
                
                @include media(576) {
                    bottom: 100px;
                    transform: translateX(calc(50% - 75px));
                }
            }
        }
    }
}
// Home end