
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@mixin media($value) {
    @if ($value < 0) {
        @media screen and (min-width: calc($value * (-1)) + 'px') {
            @content;
        }

    } @else {
        @media screen and (max-width: $value + 'px') {
            @content;
        }
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent !important;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}


img {
    max-width: 100%;
}

span, label {
    display: inline-block;
}

html {
    scroll-behavior: smooth;
}

input, textarea {
    outline: none;
    border: 0;
    background: transparent;
}

button {
    border: none;
    cursor: pointer;
    background: transparent;
    outline: 0;
    font-family: 'Inter', sans-serif;
}

address {
    font-style: normal;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    min-height: 100svh;
}

ul, ol, dl {
    list-style: none;
    padding: 0;
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main {
    &_container {
        max-width: 1288px;
        margin: 0 auto;
    
        @include media(1318) {
            max-width: calc(100% - 30px);
        }
    }

    &_title {
        font-size: 40px;
        line-height: auto;
        font-weight: 400;
        color: #303030;

        @include media(992) {
            font-size: 24px;
            text-align: center;
        }

        span {
            color: #A9B5F9;
        }
    }

    &_accordion {
        background: #CCCCCC;
        border-radius: 45px;
        padding: 25px 42px 28px 30px;
        position: relative;
        z-index: 1;

        @include media(992) {
            padding: 19.48px 35px 19.48px 25px;
        }

        &::before {
            content: "";
            position: absolute;
            left: 1px;
            top: 1px;
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            background: #fff;
            border-radius: 44px;
            z-index: -1;
        }

        &__btn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            user-select: none;
            font-size: 17px;
            line-height: 100%;
            color: #303030;

            @include media(992) {
                font-size: 14px;
                line-height: 120%;
            }
        }

        &__body {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease-in-out;
            
            ul {
                display: flex;
                flex-direction: column;
                padding-top: 21px;

                @include media(992) {
                    padding-top: 18px;
                }

                li {
                    font-size: 16px;
                    line-height: 180%;
                    color: #8C8C8C;

                    @include media(992) {
                        font-size: 13.46px;
                    }
                }
            }
        }

        &.active {
            background: linear-gradient(to bottom, #4BFFBE, #524BFF);
        }
    }
}

.btn {
    &_lightgreen {
        font-size: 16px;
        line-height: auto;
        color: #4F4F4F;
        padding: 19px 26px 19.7px;
        background: #A8FCE0;
        border-radius: 40px;
    }

    &_gradient {
        font-size: 26px;
        line-height: 100%;
        color: #000;
        padding: 20px 40px;
        border-radius: 67px;
        background: linear-gradient(180deg, rgba(75, 255, 190, 0.48) 0%, rgba(82, 75, 255, 0.48) 100%);
        border: 1px solid #fff;
        backdrop-filter: blur(3px);
        text-transform: uppercase;

        @include media(992) {
            font-size: 12.91px;
            padding: 9.93px 19.85px;
        }
    }
}

// Header
.header {
    padding: 35px 0;
    
    @include media(-992) {
        border-bottom: 1px solid #ECECEC;
    }
    
    @include media(992) {
        padding: 15px 0 0;
    }

    &__container {
        max-width: 1833px;
        margin: 0 auto;
        
        @include media(1913) {
            max-width: calc(100% - 80px);
        }

        @include media(992) {
            max-width: calc(100% - 30px);
        }
    }

    &__logo {
        gap: 10px;

        &_name {
            font-size: 31px;
            line-height: 100%;
            letter-spacing: 1%;
            font-weight: 600;
            margin-bottom: 2px;
        }

        &_description {
            font-size: 13.32px;
            font-weight: 500;
            line-height: 11.7px;
            color: #8D8E92;
        }
    }

    &__navs {
        gap: 45px;

        a {
            color: #303030;
            font-size: 18px;
            line-height: auto;
        }
    }
}
// Header end

// Home
.home {
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    
    @include media(-992) {
        border-bottom: 1px solid #ECECEC;
    }

    &__bg {
        min-width: 2057px;
        position: absolute;
        z-index: -1;
        left: 50%;
        top: 50px;
        transform: translateX(-50%);

        @include media(1250) {
            transform: translateX(calc(-50% - 200px));
        }

        @include media(992) {
            top: auto;
            bottom: 0;
            min-width: calc(1600px);
            transform: translateX(calc(-50% - 225px));
        }
        
        @include media(576) {
            min-width: 1021px;
            transform: translateX(calc(-50% - 150px));
        }
    }

    &__container {
        padding: 143px 0 200px;
        position: relative;

        @include media(992) {
            padding: 89px 0 420px;
        }

        @include media(576) {
            padding: 89px 0 368px;
        }
    }

    &__title {
        max-width: 667px;
        margin-bottom: 32px;

        @include media(992) {
            max-width: 345px;
            margin: 0 auto 22px;
        }
    }

    &__subtitle {
        margin-bottom: 64px;
        font-size: 16px;
        line-height: 180%;
        letter-spacing: -2%;
        color: rgba(0, 0, 0, 0.45);

        @include media(992) {
            line-height: 120%;
            max-width: 346px;
            margin: 0 auto 33px;
            text-align: center;
        }
    }

    .btn_lightgreen {
        margin-left: -9px;
        margin-bottom: 146px;

        @include media(576) {
            margin-bottom: 0;
        }
    }

    .our_clients {
        gap: 18px;

        &__imgs {
            position: relative;
            width: 125px;

            img {
                position: absolute;
                min-width: 53px;
                height: 53px;
                border-radius: 50%;
                object-fit: cover;
                border: 2px solid #fff;
                left: 0;
                top: 50%;
                transform: translateY(-50%);

                &:nth-child(2) {
                    left: 35.46px;
                }
            }

            span {
                width: 53px;
                height: 53px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #A9B5F9;
                border: 2px solid #fff;
                position: relative;
                border-radius: 50%;
                font-size: 12.75px;
                line-height: 124.5%;
                line-height: 3%;
                color: #fff;
            }
        }

        p {
            color: #303030;
            font-size: 17px;
            line-height: 100%;
            letter-spacing: 1%;
        }
    }

    &__links {
        a {
            position: absolute;
            white-space: nowrap;

            @include media(1250) {
                transform: translateX(-100px);
            }

            @include media(1100) {
                transform: translateX(-50px);
            }

            @include media(1050) {
                transform: translateX(0px);
            }

            @include media(992) {
                transform: translateX(0);
            }
            
            &:nth-child(1) {
                top: 210px;
                right: 62px;

                @include media(992) {
                    top: auto;
                    bottom: 432px;
                    right: 50%;
                    transform: translateX(calc(50% + 138px));
                }
                
                @include media(576) {
                    bottom: 278px;
                    transform: translateX(calc(50% + 65px));
                }
            }

            &:nth-child(2) {
                top: 345px;
                right: 330px;

                @include media(992) {
                    top: auto;
                    bottom: 331px;
                    right: 50%;
                    transform: translateX(calc(50% - 162px));
                }
                
                @include media(576) {
                    bottom: 211px;
                    transform: translateX(calc(50% - 80px));
                }
            }

            &:nth-child(3) {
                top: 460px;
                right: 40px;

                @include media(992) {
                    top: auto;
                    bottom: 252px;
                    right: 50%;
                    transform: translateX(calc(50% + 225px));
                }
                
                @include media(576) {
                    bottom: 155px;
                    transform: translateX(calc(50% + 87px));
                }
            }

            &:nth-child(4) {
                top: 553px;
                right: 358px;

                @include media(992) {
                    top: auto;
                    bottom: 165px;
                    right: 50%;
                    transform: translateX(calc(50% - 95px));
                }
                
                @include media(576) {
                    bottom: 100px;
                    transform: translateX(calc(50% - 75px));
                }
            }
        }
    }
}
// Home end

// Chance
.chance {
    padding: 70px 0;

    @include media(-992) {
        border-bottom: 1px solid #ECECEC;
    }
    
    @include media(992) {
        position: relative;
        z-index: 1;
        width: 100%;
        padding: 84px 0 0;

        &__bg {
            min-width: 402px;
            width: 402px;
            height: 402px;
            border-radius: 50%;
            background: #A9B5F9;
            position: absolute;
            right: 0;
            top: 68px;
            filter: blur(200px);
            transform: translateX(355px);
        }
    }

    &__head {
        margin-bottom: 56px;

        @include media(992) {
            margin-bottom: 22px;
        }

        .main_title {
            width: 496px;

            @include media(992) {
                width: 345px;
            }

            @include media(375) {
                width: 100%;
            }
        }
    }

    &__card {
        gap: 24px;

        @include media(992) {
            gap: 22.47px;
        }

        li {
            width: calc(100% / 3 - 18px);
            border-radius: 9.69px;
            background: linear-gradient(to bottom, rgba(168, 252, 224, 0), #A8FCE0);
            position: relative;
            z-index: 1;
            padding: 24.22px;
            cursor: pointer;
            user-select: none;
            transition: .3s ease all;

            @include media(992) {
                width: 100%;
                padding: 20.25px;
                border-radius: 8.81px;
            }

            &::before {
                content: "";
                position: absolute;
                left: 1px;
                top: 1px;
                width: calc(100% - 2px);
                height: calc(100% - 2px);
                z-index: -1;
                background: #fff;
                border-radius: 8.69px;

                @include media(992) {
                    border-radius: 7.81px;
                }
            }

            h3 {
                margin: 40px 0 16px;
                font-size: 29px;
                line-height: 100%;
                color: #303030;
                transition: .3s ease all;

                @include media(992) {
                    font-size: 24px;
                    margin: 33px 0 13px;
                }
            }

            p {
                font-size: 16px;
                line-height: 180%;
                letter-spacing: -2%;
                color: rgba(0, 0, 0, 0.45);
            }

            &:hover {

                @include media(-992) {
                    transform: translateY(-40px);
                }

                h3 {
                    color: #A9B5F9;
                }
            }
        }
    }
}
// Chance end

// About
.about {
    padding: 201px 0 760px;
    position: relative;
    z-index: 1;

    @include media(1200) {
        padding: 155px 0 0;
    }

    @include media(-992) {
        border-bottom: 1px solid #ECECEC;
    }

    .main_title {
        max-width: 898px;
        position: relative;
        z-index: 2;

        @include media(1200) {
            margin: 0 auto;
            text-align: center;
        }
    }

    &__icon {
        position: absolute;
        width: 412px;
        height: 412px;
        
        @include media(-1200) {
            transform: translateX(-50%);
            top: 332px;
            left: 50%;
            
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 630px;
                height: 630px;
                border-radius: 50%;
                border: .6px solid #A8FCE0;
                transform: translate(-50%, -50%);
            }
        }

        @include media(1200) {
            position: relative;
            margin: 22px auto;
            width: 345px;
            height: 345px;
        }


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
            border: 1px solid #A8FCE0;
        }

        a {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            -webkit-backdrop-filter: blur(3px);
                    backdrop-filter: blur(3px);
            background: linear-gradient(to bottom, rgba(75, 255, 189, 0.58), rgba(81, 75, 255, 0.58));
            border-radius: 150px;
            width: 164px;
            height: 91px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 25px;
            line-height: 100%;
            font-weight: 500;
            color: #303030;
            box-shadow: 0 -1px 9.2px rgba(0, 0, 0, 0.25);

            &::before {
                border-radius: 150px;
                content: "";
                position: absolute;
                z-index: -1;
                inset: 0;
                border: 1px solid transparent;
                background: linear-gradient(to bottom, #fff, #ffffff00) border-box;
                -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
                        mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                        mask-composite: exclude;
            }
        }
    }

    &__list {
        @include media(1200) {
            display: none;
        }

        li {
            a {
                color: #303030;
                font-size: 17px;
                line-height: 110%;
                letter-spacing: 1%;
                position: absolute;

                &::before {
                    position: absolute;
                    content: "";
                    width: 13.17px;
                    height: 13.17px; 
                    background: #A8FCE0;
                    border-radius: 50%;
                }

                &:hover {
                    color: #A9B5F9;

                    &::before {
                        background: #A9B5F9;
                    }
                }
            }

            &:nth-child(1) {
                a {
                    top: 319px;
                    left: 50%;
                    transform: translateX(calc(-50% + 376px));
                    width: 302px;

                    &::before {
                        top: 0;
                        left: 0;
                        transform: translate(-100%, -100%);
                    }
                }
            }

            &:nth-child(2) {
                a {
                    top: 534px;
                    left: 50%;
                    transform: translateX(calc(-50% - 465px));
                    width: 290px;
                    text-align: right;

                    &::before {
                        top: 0;
                        right: 0;
                        transform: translate(100%, -100%);
                    }
                }
            }

            &:nth-child(3) {
                a {
                    top: 534px;
                    left: 50%;
                    transform: translateX(calc(-50% + 473px));
                    width: 302px;

                    &::before {
                        top: 0;
                        left: 0;
                        transform: translate(-100%, -100%);
                    }
                }
            }

            &:nth-child(4) {
                a {
                    top: 834px;
                    left: 50%;
                    transform: translateX(calc(-50% - 285px));
                    width: 302px;
                    text-align: right;

                    &::before {
                        top: 0;
                        right: 0;
                        transform: translate(100%, -100%);
                    }
                }
            }

            &:nth-child(5) {
                a {
                    top: 785px;
                    left: 50%;
                    transform: translateX(calc(-50% + 387px));
                    width: 355px;

                    &::before {
                        top: 0;
                        left: 0;
                        transform: translate(-100%, -100%);
                    }
                }
            }
        }
    }

    &__accordion {
        @include media(-1200) {
            display: none !important;
        }

        &_btn {
            width: 100%;
            height: 87px;
            border-radius: 50px;
            border: 1px solid #CCCCCC;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 37px 0 28px;
        }
        
        ul {
            display: none;
            flex-direction: column;
            gap: 20px;
            border: 1px solid #CCCCCC;
            border-top: 0;
            border-radius: 0 0 50px 50px;
            padding: 30px 28px;

            a {
                font-size: 17px;
                line-height: 110%;
                color: #303030;
            }
        }

        &.active {
            .about__accordion_btn {
                border-radius: 50px 50px 0 0;
            }

            ul {
                display: flex;
            }
        }
    }
}
// About end

// Help
.help {
    padding: 62px 0 76px;

    @include media(-992) {
        border-bottom: 1px solid #ECECEC;
    }

    @include media(992) {
        padding: 151px 0 0;
        position: relative;
        z-index: 1;
    }

    &__bg {
        @include media(992) {
            width: 424px;
            height: 424px;
            border-radius: 50%;
            background: #A8FCE0;
            position: absolute;
            z-index: -1;
            right: -198px;
            top: 22px;
            filter: blur(180px);
        }
    }

    &__container {
        gap: 92px;
    }

    &__left {
        @include media(992) {
            display: none;
        }
    }

    &__content {
        @include media(992) {
            width: 100%;
            text-align: center;
        }

        h2 {
            color: #303030;
            font-size: 32px;
            line-height: auto;
            margin-bottom: 25px;
            font-weight: 400;

            @include media(992) {
                margin-bottom: 22px;
                font-size: 24px;
            }
        }

        img {
            margin-bottom: 22px;
            width: 271px;

            @include media(-992) {
                display: none;
            }
        }

        ul {
            gap: 15px;
            list-style-type: disc;
            list-style-position: inside;
            padding-left: 10px;
            text-align: left;

            li {
                font-size: 19px;
                line-height: 180%;
                color: #303030;

                @include media(992) {
                    font-size: 15px;
                    line-height: 100%;
                }
            }
        }
    }
}
// Help end

// Therapy
.therapy {
    padding: 193px 0 236px;

    @include media(992) {
        padding: 324px 0 0;
    }

    &__container {
        gap: 29px;

        @include media(1100) {
            flex-direction: column;
            gap: 42px;
        }
    }

    &__content {
        width: calc(100% / 3 - 58px / 3);

        @include media(1100) {
            width: 100%;
        }

        .main_title {
            @include media(992) {
                width: 255px;
                text-align: left;
            }
        }

        p {
            margin: 22px 0 34px;
            color: #303030;
            font-size: 16px;
            line-height: 150%;

            @include media(1100) {
                margin: 22px 0;
            }
        }

        &_foot {
            gap: 33px;

            @include media(1100) {
                justify-content: space-between;
            }

            &__text {
                gap: 1px;

                @include media(4px)
            }

            span {
                font-size: 16px;
                line-height: 100%;
                letter-spacing: -2px;
                color: rgba(0, 0, 0, 0.45);
            }

            h3 {
                color: #303030;
                font-size: 40px;
                line-height: auto;
                font-weight: 400;

                @include media(1100) {
                    font-size: 24px;
                }
            }
        }
    }

    &__card {
        width: calc(100% / 3 - 58px / 3);
        position: relative;
        z-index: 1;

        @include media(1100) {
            width: 100%;
            text-align: center;
        }

        &::before {
            content: "";
            width: 233px;
            height: 233px;
            border-radius: 50%;
            position: absolute;
            top: 9px;
            left: 50%;
            transform: translateX(-50%);
            background: #A8FCE0;
            z-index: -1;
            filter: blur(48px);

            @include media(1100) {
                width: 345px;
                height: 345px;
                top: -30px;
            }
        }

        img {
            width: 100%;

            @include media(1100) {
                max-width: 400px;
            }
        }
    }

    &__accordions {
        width: calc(100% / 3 - 58px / 3);
        gap: 21px;

        @include media(1100) {
            width: 100%;
            gap: 18px;
        }
    }
}
// Therapy end

.swiper_pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;

    span {
        opacity: 1;
        margin: 0 !important;
        padding: 0;
        width: 9px;
        height: 9px;
        background: #303030;

        &.swiper-pagination-bullet-active {
            background: #A8FCE0;
            width: 13px;
            height: 13px;
        }
    }
}

// About us
.about-us {
    padding: 0 0 381px;
    position: relative;
    z-index: 1;
    
    @include media(992) {
        padding: 183px 0 151px;
    }

    &__bg {
        position: absolute;
        left: 0;
        z-index: -1;
        width: 100%;
        top: -100px;

        @include media(992) {
            top: 50px;
        }
    }

    h2 {
        margin-bottom: 50px;
        text-align: left;

        @include media(992) {
            margin-bottom: 22px;
        }
    }

    &__card {
        margin-bottom: 47px;

        @include media(992) {
            margin-bottom: 22px;
        }

        &_content {
            overflow-y: scroll;
            height: 100%;

            &::-webkit-scrollbar {
                width: 11px;
            }

            &::-webkit-scrollbar-track {
                border-radius: 40px;
                background: #F6F6F6;
            }

            &::-webkit-scrollbar-thumb {
                background: linear-gradient(to bottom, rgba(75, 255, 189, 0.48), rgba(81, 75, 255, 0.48)); 
                border-radius: 40px;
            }
        }

        &_item {
            border-radius: 35px;
            background: #CCCCCC;
            position: relative;
            z-index: 1;
            padding: 28px 33px 0;
            height: 331px;
            overflow: hidden;

            &::before {
                content: "";
                position: absolute;
                top: 1px;
                left: 1px;
                width: calc(100% - 2px);
                height: calc(100% - 2px);
                border-radius: 34px;
                background: #fff;
                z-index: -1;
            }

            &::after {
                content: "";
                position: absolute;
                left: 1px;
                bottom: 1px;
                width: calc(100% - 2px);
                height: 80px;
                border-radius: 0 0 34px 34px;
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
            }

            h4 {
                font-size: 19px;
                line-height: auto;
                color: #303030;
                margin-bottom: 4px;
            }

            h3 {
                gap: 18px;
                font-size: 29px;
                line-height: 100%;
                color: #303030;
                margin-bottom: 21px;
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 21px;

                li {
                    font-size: 17px;
                    line-height: 120%;
                    color: #8C8C8C;
                }
            }
        }
    }

    .swiper_pagination {
        @include media(-992) {
            display: none !important;
        }
    }

    &__foot {

        @include media(992) {
            display: none !important;
        }

        p {
            font-size: 17px;
            line-height: auto;
            color: #8C8C8C;
        }
    }
}
// About us end

// Treaning
.treaning {
    padding-bottom: 295px;
    position: relative;
    z-index: 1;

    @include media(992) {
        padding-bottom: 93px;
    }

    &__container {
        gap: 30px;

        @include media(992) {
            gap: 22px;
        }
    }

    &__left {
        width: calc(50% - 15px);

        @include media(992) {
            width: 100%;
        }

        h2 {
            margin-bottom: 50px;

            @include media(992) {
                margin-bottom: 22px;
            }
        }
    }

    .main_accordion {
        &__btn {
            @include media(992) {
                gap: 61px;
            }
        }

        &__body {
            ul {
                gap: 25px;
            }

            li {
                display: flex;
                align-items: center;
                gap: 32px;
            }

            .number {
                width: 30px;
                height: 30px;
                flex-shrink: 0;
                border-radius: 50%;
                color: #303030;
                font-size: 17.89px;
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 80.5%;
                background: #A8FCE0;

            }
        }
    }

    &__text {
        &_top {
            gap: 38px;
            margin-bottom: 48px;

            @include media(992) {
                margin: 0 auto 22px;
                width: 209px;
                gap: 22px;
            }

            p {
                font-size: 26px;
                line-height: 124.5%;
                letter-spacing: 3%;
                color: #303030;

                @include media(992) {
                    font-size: 18px;
                }
            }

            .line {
                width: 1px;
                height: 42px;
                background: #303030;
                flex-shrink: 0;
            }

            h4 {
                width: 80px;
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                flex-shrink: 0;
                border: 1px solid #303030;
                text-align: center;
                color: #303030;
                flex-direction: column;
                font-weight: 400;
                font-size: 34px;

                @include media(992) {
                    font-size: 22px;
                    width: 64px;
                    height: 64px;
                }

                span {
                    font-size: 18px;

                    @include media(992) {
                        font-size: 12px;
                    }

                    &.sm {
                        font-size: 14px;

                        @include media(992) {
                            font-size: 10px;
                        }
                    }
                }
            }
        }

        &_bottom {
            gap: 21px;
            margin-bottom: 40px;

            @include media(992) {
                gap: 33px;
                margin-bottom: 22px;
            }

            li {
                gap: 22px;

                @include media(992) {
                    align-items: flex-start !important;
                    gap: 15px;
                }

                img {
                    width: 110px;
                    flex-shrink: 0;

                    @include media(992) {
                        width: 75px;
                    }
                }

                p {
                    font-size: 18px;
                    line-height: 124.5%;
                    letter-spacing: 3%;
                    color: #303030;

                    @include media(992) {
                        padding-top: 9px;
                        font-size: 15px;
                    }

                    span {
                        font-weight: 600;
                    }
                }
            }
        }
    }

    &__right {
        width: calc(50% - 15px);

        @include media(992) {
            width: 100%;
        }

        &_card {
            width: 100%;
            margin-bottom: 21px;
        }
    }

    .swiper {
        border: 1px solid #CCCCCC;
        border-radius: 45px;
        margin-bottom: 30px;

        @include media(992) {
            border-radius: 30px;
            margin-bottom: 22px;
        }

        &-slide {
            padding: 35px 36px 45px 31px;

            @include media(992) {
                padding: 26px 27px 29px;
            }
        }
    }

    &__swp {
        &_head {
            margin-bottom: 32px;

            h3 {
                color: #303030;
                font-size: 26px;
                line-height: 124.5%;
                letter-spacing: 3%;
                font-weight: 400;

                @include media(992) {
                    font-size: 24px;
                }
            }

            p {
                color: #CCCCCC;
                font-size: 17px;
                line-height: 124.5%;
                letter-spacing: 3%;

                @include media(992) {
                    font-size: 15px;
                }
            }
        }

        &_body {
            gap: 45px;

            @include media(992) {
                gap: 21px;
            }

            li {
                gap: 46px;

                @include media(992) {
                    gap: 22px;
                }
            }

            img {
                @include media(992) {
                    width: 41px;
                    flex-shrink: 0;
                }
            }

            h5 {
                gap: 14px;
                font-size: 17px;
                line-height: 124.5%;
                color: #303030;
                letter-spacing: 3%;
                font-weight: 600;
                margin-bottom: 8px;

                @include media(992) {
                    font-size: 15px;
                    gap: 11px;
                    gap: 9px;
                }

                span {
                    color: #8D8E92;
                    font-weight: 400;
                }
            }

            p {
                font-size: 15px;
                line-height: 124.5%;
                letter-spacing: 3%;
                color: #303030;

                @include media(992) {
                    font-size: 15px;
                }
            }
        }
    }

    .swp_control {
        gap: 35px;

        .swiper_pagination {
            display: inline-flex;
            width: auto;
        }
    }
}
// Treaning end

