@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent !important;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

input, textarea {
  outline: none;
  border: 0;
  background: transparent;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
  font-family: "Inter", sans-serif;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  min-height: 100svh;
}

ul, ol, dl {
  list-style: none;
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #303030;
}

.main_container {
  max-width: 1288px;
  margin: 0 auto;
}
@media screen and (max-width: 1318px) {
  .main_container {
    max-width: calc(100% - 30px);
  }
}
.main_title {
  font-size: 40px;
  line-height: auto;
  font-weight: 400;
  color: #303030;
}
@media screen and (max-width: 992px) {
  .main_title {
    font-size: 24px;
    text-align: center;
  }
}
.main_title span {
  color: #A9B5F9;
}
.main_accordion {
  background: #CCCCCC;
  border-radius: 45px;
  padding: 25px 42px 28px 30px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 992px) {
  .main_accordion {
    padding: 19.48px 35px 19.48px 25px;
  }
}
.main_accordion::before {
  content: "";
  position: absolute;
  left: 1px;
  top: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background: #fff;
  border-radius: 44px;
  z-index: -1;
}
.main_accordion__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 17px;
  line-height: 100%;
  color: #303030;
}
@media screen and (max-width: 992px) {
  .main_accordion__btn {
    font-size: 14px;
    line-height: 120%;
  }
}
.main_accordion__body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
.main_accordion__body ul {
  display: flex;
  flex-direction: column;
  padding-top: 21px;
}
@media screen and (max-width: 992px) {
  .main_accordion__body ul {
    padding-top: 18px;
  }
}
.main_accordion__body ul li {
  font-size: 16px;
  line-height: 180%;
  color: #8C8C8C;
}
@media screen and (max-width: 992px) {
  .main_accordion__body ul li {
    font-size: 13.46px;
  }
}
.main_accordion.active {
  background: linear-gradient(to bottom, #4BFFBE, #524BFF);
}

.btn_lightgreen {
  font-size: 16px;
  line-height: auto;
  color: #4F4F4F;
  padding: 19px 26px 19.7px;
  background: #A8FCE0;
  border-radius: 40px;
}
.btn_gradient {
  font-size: 26px;
  line-height: 100%;
  color: #000;
  padding: 20px 40px;
  border-radius: 67px;
  background: linear-gradient(180deg, rgba(75, 255, 190, 0.48) 0%, rgba(82, 75, 255, 0.48) 100%);
  border: 1px solid #fff;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  text-transform: uppercase;
}
@media screen and (max-width: 992px) {
  .btn_gradient {
    font-size: 12.91px;
    padding: 9.93px 19.85px;
  }
}

.header {
  padding: 35px 0;
}
@media screen and (min-width: 992px) {
  .header {
    border-bottom: 1px solid #ECECEC;
  }
}
@media screen and (max-width: 992px) {
  .header {
    padding: 15px 0 0;
  }
}
.header__container {
  max-width: 1833px;
  margin: 0 auto;
}
@media screen and (max-width: 1913px) {
  .header__container {
    max-width: calc(100% - 80px);
  }
}
@media screen and (max-width: 992px) {
  .header__container {
    max-width: calc(100% - 30px);
  }
}
.header__logo {
  gap: 10px;
}
.header__logo_name {
  font-size: 31px;
  line-height: 100%;
  letter-spacing: 1%;
  font-weight: 600;
  margin-bottom: 2px;
}
.header__logo_description {
  font-size: 13.32px;
  font-weight: 500;
  line-height: 11.7px;
  color: #8D8E92;
}
.header__navs {
  gap: 45px;
}
.header__navs a {
  color: #303030;
  font-size: 18px;
  line-height: auto;
}

.home {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .home {
    border-bottom: 1px solid #ECECEC;
  }
}
.home__bg {
  min-width: 2057px;
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
}
@media screen and (max-width: 1250px) {
  .home__bg {
    transform: translateX(calc(-50% - 200px));
  }
}
@media screen and (max-width: 992px) {
  .home__bg {
    top: auto;
    bottom: 0;
    min-width: 1600px;
    transform: translateX(calc(-50% - 225px));
  }
}
@media screen and (max-width: 576px) {
  .home__bg {
    min-width: 1021px;
    transform: translateX(calc(-50% - 150px));
  }
}
.home__container {
  padding: 143px 0 200px;
  position: relative;
}
@media screen and (max-width: 992px) {
  .home__container {
    padding: 89px 0 420px;
  }
}
@media screen and (max-width: 576px) {
  .home__container {
    padding: 89px 0 368px;
  }
}
.home__title {
  max-width: 667px;
  margin-bottom: 32px;
}
@media screen and (max-width: 992px) {
  .home__title {
    max-width: 345px;
    margin: 0 auto 22px;
  }
}
.home__subtitle {
  margin-bottom: 64px;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: -2%;
  color: rgba(0, 0, 0, 0.45);
}
@media screen and (max-width: 992px) {
  .home__subtitle {
    line-height: 120%;
    max-width: 346px;
    margin: 0 auto 33px;
    text-align: center;
  }
}
.home .btn_lightgreen {
  margin-left: -9px;
  margin-bottom: 146px;
}
@media screen and (max-width: 576px) {
  .home .btn_lightgreen {
    margin-bottom: 0;
  }
}
.home .our_clients {
  gap: 18px;
}
.home .our_clients__imgs {
  position: relative;
  width: 125px;
}
.home .our_clients__imgs img {
  position: absolute;
  min-width: 53px;
  height: 53px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #fff;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.home .our_clients__imgs img:nth-child(2) {
  left: 35.46px;
}
.home .our_clients__imgs span {
  width: 53px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #A9B5F9;
  border: 2px solid #fff;
  position: relative;
  border-radius: 50%;
  font-size: 12.75px;
  line-height: 124.5%;
  line-height: 3%;
  color: #fff;
}
.home .our_clients p {
  color: #303030;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: 1%;
}
.home__links a {
  position: absolute;
  white-space: nowrap;
}
@media screen and (max-width: 1250px) {
  .home__links a {
    transform: translateX(-100px);
  }
}
@media screen and (max-width: 1100px) {
  .home__links a {
    transform: translateX(-50px);
  }
}
@media screen and (max-width: 1050px) {
  .home__links a {
    transform: translateX(0px);
  }
}
@media screen and (max-width: 992px) {
  .home__links a {
    transform: translateX(0);
  }
}
.home__links a:nth-child(1) {
  top: 210px;
  right: 62px;
}
@media screen and (max-width: 992px) {
  .home__links a:nth-child(1) {
    top: auto;
    bottom: 432px;
    right: 50%;
    transform: translateX(calc(50% + 138px));
  }
}
@media screen and (max-width: 576px) {
  .home__links a:nth-child(1) {
    bottom: 278px;
    transform: translateX(calc(50% + 65px));
  }
}
.home__links a:nth-child(2) {
  top: 345px;
  right: 330px;
}
@media screen and (max-width: 992px) {
  .home__links a:nth-child(2) {
    top: auto;
    bottom: 331px;
    right: 50%;
    transform: translateX(calc(50% - 162px));
  }
}
@media screen and (max-width: 576px) {
  .home__links a:nth-child(2) {
    bottom: 211px;
    transform: translateX(calc(50% - 80px));
  }
}
.home__links a:nth-child(3) {
  top: 460px;
  right: 40px;
}
@media screen and (max-width: 992px) {
  .home__links a:nth-child(3) {
    top: auto;
    bottom: 252px;
    right: 50%;
    transform: translateX(calc(50% + 225px));
  }
}
@media screen and (max-width: 576px) {
  .home__links a:nth-child(3) {
    bottom: 155px;
    transform: translateX(calc(50% + 87px));
  }
}
.home__links a:nth-child(4) {
  top: 553px;
  right: 358px;
}
@media screen and (max-width: 992px) {
  .home__links a:nth-child(4) {
    top: auto;
    bottom: 165px;
    right: 50%;
    transform: translateX(calc(50% - 95px));
  }
}
@media screen and (max-width: 576px) {
  .home__links a:nth-child(4) {
    bottom: 100px;
    transform: translateX(calc(50% - 75px));
  }
}

.chance {
  padding: 70px 0;
}
@media screen and (min-width: 992px) {
  .chance {
    border-bottom: 1px solid #ECECEC;
  }
}
@media screen and (max-width: 992px) {
  .chance {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 84px 0 0;
  }
  .chance__bg {
    min-width: 402px;
    width: 402px;
    height: 402px;
    border-radius: 50%;
    background: #A9B5F9;
    position: absolute;
    right: 0;
    top: 68px;
    filter: blur(200px);
    transform: translateX(355px);
  }
}
.chance__head {
  margin-bottom: 56px;
}
@media screen and (max-width: 992px) {
  .chance__head {
    margin-bottom: 22px;
  }
}
.chance__head .main_title {
  width: 496px;
}
@media screen and (max-width: 992px) {
  .chance__head .main_title {
    width: 345px;
  }
}
@media screen and (max-width: 375px) {
  .chance__head .main_title {
    width: 100%;
  }
}
.chance__card {
  gap: 24px;
}
@media screen and (max-width: 992px) {
  .chance__card {
    gap: 22.47px;
  }
}
.chance__card li {
  width: calc(33.3333333333% - 18px);
  border-radius: 9.69px;
  background: linear-gradient(to bottom, rgba(168, 252, 224, 0), #A8FCE0);
  position: relative;
  z-index: 1;
  padding: 24.22px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: 0.3s ease all;
}
@media screen and (max-width: 992px) {
  .chance__card li {
    width: 100%;
    padding: 20.25px;
    border-radius: 8.81px;
  }
}
.chance__card li::before {
  content: "";
  position: absolute;
  left: 1px;
  top: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  z-index: -1;
  background: #fff;
  border-radius: 8.69px;
}
@media screen and (max-width: 992px) {
  .chance__card li::before {
    border-radius: 7.81px;
  }
}
.chance__card li h3 {
  margin: 40px 0 16px;
  font-size: 29px;
  line-height: 100%;
  color: #303030;
  transition: 0.3s ease all;
}
@media screen and (max-width: 992px) {
  .chance__card li h3 {
    font-size: 24px;
    margin: 33px 0 13px;
  }
}
.chance__card li p {
  font-size: 16px;
  line-height: 180%;
  letter-spacing: -2%;
  color: rgba(0, 0, 0, 0.45);
}
@media screen and (min-width: 992px) {
  .chance__card li:hover {
    transform: translateY(-40px);
  }
}
.chance__card li:hover h3 {
  color: #A9B5F9;
}

.about {
  padding: 201px 0 760px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1200px) {
  .about {
    padding: 155px 0 0;
  }
}
@media screen and (min-width: 992px) {
  .about {
    border-bottom: 1px solid #ECECEC;
  }
}
.about .main_title {
  max-width: 898px;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 1200px) {
  .about .main_title {
    margin: 0 auto;
    text-align: center;
  }
}
.about__icon {
  position: absolute;
  width: 412px;
  height: 412px;
}
@media screen and (min-width: 1200px) {
  .about__icon {
    transform: translateX(-50%);
    top: 332px;
    left: 50%;
  }
  .about__icon::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 630px;
    height: 630px;
    border-radius: 50%;
    border: 0.6px solid #A8FCE0;
    transform: translate(-50%, -50%);
  }
}
@media screen and (max-width: 1200px) {
  .about__icon {
    position: relative;
    margin: 22px auto;
    width: 345px;
    height: 345px;
  }
}
.about__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 1px solid #A8FCE0;
}
.about__icon a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background: linear-gradient(to bottom, rgba(75, 255, 189, 0.58), rgba(81, 75, 255, 0.58));
  border-radius: 150px;
  width: 164px;
  height: 91px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  line-height: 100%;
  font-weight: 500;
  color: #303030;
  box-shadow: 0 -1px 9.2px rgba(0, 0, 0, 0.25);
}
.about__icon a::before {
  border-radius: 150px;
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border: 1px solid transparent;
  background: linear-gradient(to bottom, #fff, rgba(255, 255, 255, 0)) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
@media screen and (max-width: 1200px) {
  .about__list {
    display: none;
  }
}
.about__list li a {
  color: #303030;
  font-size: 17px;
  line-height: 110%;
  letter-spacing: 1%;
  position: absolute;
}
.about__list li a::before {
  position: absolute;
  content: "";
  width: 13.17px;
  height: 13.17px;
  background: #A8FCE0;
  border-radius: 50%;
}
.about__list li a:hover {
  color: #A9B5F9;
}
.about__list li a:hover::before {
  background: #A9B5F9;
}
.about__list li:nth-child(1) a {
  top: 319px;
  left: 50%;
  transform: translateX(calc(-50% + 376px));
  width: 302px;
}
.about__list li:nth-child(1) a::before {
  top: 0;
  left: 0;
  transform: translate(-100%, -100%);
}
.about__list li:nth-child(2) a {
  top: 534px;
  left: 50%;
  transform: translateX(calc(-50% - 465px));
  width: 290px;
  text-align: right;
}
.about__list li:nth-child(2) a::before {
  top: 0;
  right: 0;
  transform: translate(100%, -100%);
}
.about__list li:nth-child(3) a {
  top: 534px;
  left: 50%;
  transform: translateX(calc(-50% + 473px));
  width: 302px;
}
.about__list li:nth-child(3) a::before {
  top: 0;
  left: 0;
  transform: translate(-100%, -100%);
}
.about__list li:nth-child(4) a {
  top: 834px;
  left: 50%;
  transform: translateX(calc(-50% - 285px));
  width: 302px;
  text-align: right;
}
.about__list li:nth-child(4) a::before {
  top: 0;
  right: 0;
  transform: translate(100%, -100%);
}
.about__list li:nth-child(5) a {
  top: 785px;
  left: 50%;
  transform: translateX(calc(-50% + 387px));
  width: 355px;
}
.about__list li:nth-child(5) a::before {
  top: 0;
  left: 0;
  transform: translate(-100%, -100%);
}
@media screen and (min-width: 1200px) {
  .about__accordion {
    display: none !important;
  }
}
.about__accordion_btn {
  width: 100%;
  height: 87px;
  border-radius: 50px;
  border: 1px solid #CCCCCC;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 37px 0 28px;
}
.about__accordion ul {
  display: none;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #CCCCCC;
  border-top: 0;
  border-radius: 0 0 50px 50px;
  padding: 30px 28px;
}
.about__accordion ul a {
  font-size: 17px;
  line-height: 110%;
  color: #303030;
}
.about__accordion.active .about__accordion_btn {
  border-radius: 50px 50px 0 0;
}
.about__accordion.active ul {
  display: flex;
}

.help {
  padding: 62px 0 76px;
}
@media screen and (min-width: 992px) {
  .help {
    border-bottom: 1px solid #ECECEC;
  }
}
@media screen and (max-width: 992px) {
  .help {
    padding: 151px 0 0;
    position: relative;
    z-index: 1;
  }
}
@media screen and (max-width: 992px) {
  .help__bg {
    width: 424px;
    height: 424px;
    border-radius: 50%;
    background: #A8FCE0;
    position: absolute;
    z-index: -1;
    right: -198px;
    top: 22px;
    filter: blur(180px);
  }
}
.help__container {
  gap: 92px;
}
@media screen and (max-width: 992px) {
  .help__left {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .help__content {
    width: 100%;
    text-align: center;
  }
}
.help__content h2 {
  color: #303030;
  font-size: 32px;
  line-height: auto;
  margin-bottom: 25px;
  font-weight: 400;
}
@media screen and (max-width: 992px) {
  .help__content h2 {
    margin-bottom: 22px;
    font-size: 24px;
  }
}
.help__content img {
  margin-bottom: 22px;
  width: 271px;
}
@media screen and (min-width: 992px) {
  .help__content img {
    display: none;
  }
}
.help__content ul {
  gap: 15px;
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 10px;
  text-align: left;
}
.help__content ul li {
  font-size: 19px;
  line-height: 180%;
  color: #303030;
}
@media screen and (max-width: 992px) {
  .help__content ul li {
    font-size: 15px;
    line-height: 100%;
  }
}

.therapy {
  padding: 193px 0 236px;
}
@media screen and (max-width: 992px) {
  .therapy {
    padding: 324px 0 0;
  }
}
.therapy__container {
  gap: 29px;
}
@media screen and (max-width: 1100px) {
  .therapy__container {
    flex-direction: column;
    gap: 42px;
  }
}
.therapy__content {
  width: calc(33.3333333333% - 19.3333333333px);
}
@media screen and (max-width: 1100px) {
  .therapy__content {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .therapy__content .main_title {
    width: 255px;
    text-align: left;
  }
}
.therapy__content p {
  margin: 22px 0 34px;
  color: #303030;
  font-size: 16px;
  line-height: 150%;
}
@media screen and (max-width: 1100px) {
  .therapy__content p {
    margin: 22px 0;
  }
}
.therapy__content_foot {
  gap: 33px;
}
@media screen and (max-width: 1100px) {
  .therapy__content_foot {
    justify-content: space-between;
  }
}
.therapy__content_foot__text {
  gap: 1px;
}
.therapy__content_foot span {
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -2px;
  color: rgba(0, 0, 0, 0.45);
}
.therapy__content_foot h3 {
  color: #303030;
  font-size: 40px;
  line-height: auto;
  font-weight: 400;
}
@media screen and (max-width: 1100px) {
  .therapy__content_foot h3 {
    font-size: 24px;
  }
}
.therapy__card {
  width: calc(33.3333333333% - 19.3333333333px);
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1100px) {
  .therapy__card {
    width: 100%;
    text-align: center;
  }
}
.therapy__card::before {
  content: "";
  width: 233px;
  height: 233px;
  border-radius: 50%;
  position: absolute;
  top: 9px;
  left: 50%;
  transform: translateX(-50%);
  background: #A8FCE0;
  z-index: -1;
  filter: blur(48px);
}
@media screen and (max-width: 1100px) {
  .therapy__card::before {
    width: 345px;
    height: 345px;
    top: -30px;
  }
}
.therapy__card img {
  width: 100%;
}
@media screen and (max-width: 1100px) {
  .therapy__card img {
    max-width: 400px;
  }
}
.therapy__accordions {
  width: calc(33.3333333333% - 19.3333333333px);
  gap: 21px;
}
@media screen and (max-width: 1100px) {
  .therapy__accordions {
    width: 100%;
    gap: 18px;
  }
}

.swiper_pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.swiper_pagination span {
  opacity: 1;
  margin: 0 !important;
  padding: 0;
  width: 9px;
  height: 9px;
  background: #303030;
}
.swiper_pagination span.swiper-pagination-bullet-active {
  background: #A8FCE0;
  width: 13px;
  height: 13px;
}

.about-us {
  padding: 0 0 381px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 992px) {
  .about-us {
    padding: 183px 0 151px;
  }
}
.about-us__bg {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  top: -100px;
}
@media screen and (max-width: 992px) {
  .about-us__bg {
    top: 50px;
  }
}
.about-us h2 {
  margin-bottom: 50px;
  text-align: left;
}
@media screen and (max-width: 992px) {
  .about-us h2 {
    margin-bottom: 22px;
  }
}
.about-us__card {
  margin-bottom: 47px;
}
@media screen and (max-width: 992px) {
  .about-us__card {
    margin-bottom: 22px;
  }
}
.about-us__card_content {
  overflow-y: scroll;
  height: 100%;
}
.about-us__card_content::-webkit-scrollbar {
  width: 11px;
}
.about-us__card_content::-webkit-scrollbar-track {
  border-radius: 40px;
  background: #F6F6F6;
}
.about-us__card_content::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, rgba(75, 255, 189, 0.48), rgba(81, 75, 255, 0.48));
  border-radius: 40px;
}
.about-us__card_item {
  border-radius: 35px;
  background: #CCCCCC;
  position: relative;
  z-index: 1;
  padding: 28px 33px 0;
  height: 331px;
  overflow: hidden;
}
.about-us__card_item::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 34px;
  background: #fff;
  z-index: -1;
}
.about-us__card_item::after {
  content: "";
  position: absolute;
  left: 1px;
  bottom: 1px;
  width: calc(100% - 2px);
  height: 80px;
  border-radius: 0 0 34px 34px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
}
.about-us__card_item h4 {
  font-size: 19px;
  line-height: auto;
  color: #303030;
  margin-bottom: 4px;
}
.about-us__card_item h3 {
  gap: 18px;
  font-size: 29px;
  line-height: 100%;
  color: #303030;
  margin-bottom: 21px;
}
.about-us__card_item ul {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.about-us__card_item ul li {
  font-size: 17px;
  line-height: 120%;
  color: #8C8C8C;
}
@media screen and (min-width: 992px) {
  .about-us .swiper_pagination {
    display: none !important;
  }
}
@media screen and (max-width: 992px) {
  .about-us__foot {
    display: none !important;
  }
}
.about-us__foot p {
  font-size: 17px;
  line-height: auto;
  color: #8C8C8C;
}

.treaning {
  padding-bottom: 295px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 992px) {
  .treaning {
    padding-bottom: 93px;
  }
}
.treaning__container {
  gap: 30px;
}
@media screen and (max-width: 992px) {
  .treaning__container {
    gap: 22px;
  }
}
.treaning__left {
  width: calc(50% - 15px);
}
@media screen and (max-width: 992px) {
  .treaning__left {
    width: 100%;
  }
}
.treaning__left h2 {
  margin-bottom: 50px;
}
@media screen and (max-width: 992px) {
  .treaning__left h2 {
    margin-bottom: 22px;
  }
}
@media screen and (max-width: 992px) {
  .treaning .main_accordion__btn {
    gap: 61px;
  }
}
.treaning .main_accordion__body ul {
  gap: 25px;
}
.treaning .main_accordion__body li {
  display: flex;
  align-items: center;
  gap: 32px;
}
.treaning .main_accordion__body .number {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 50%;
  color: #303030;
  font-size: 17.89px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 80.5%;
  background: #A8FCE0;
}
.treaning__text_top {
  gap: 38px;
  margin-bottom: 48px;
}
@media screen and (max-width: 992px) {
  .treaning__text_top {
    margin: 0 auto 22px;
    width: 209px;
    gap: 22px;
  }
}
.treaning__text_top p {
  font-size: 26px;
  line-height: 124.5%;
  letter-spacing: 3%;
  color: #303030;
}
@media screen and (max-width: 992px) {
  .treaning__text_top p {
    font-size: 18px;
  }
}
.treaning__text_top .line {
  width: 1px;
  height: 42px;
  background: #303030;
  flex-shrink: 0;
}
.treaning__text_top h4 {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  flex-shrink: 0;
  border: 1px solid #303030;
  text-align: center;
  color: #303030;
  flex-direction: column;
  font-weight: 400;
  font-size: 34px;
}
@media screen and (max-width: 992px) {
  .treaning__text_top h4 {
    font-size: 22px;
    width: 64px;
    height: 64px;
  }
}
.treaning__text_top h4 span {
  font-size: 18px;
}
@media screen and (max-width: 992px) {
  .treaning__text_top h4 span {
    font-size: 12px;
  }
}
.treaning__text_top h4 span.sm {
  font-size: 14px;
}
@media screen and (max-width: 992px) {
  .treaning__text_top h4 span.sm {
    font-size: 10px;
  }
}
.treaning__text_bottom {
  gap: 21px;
  margin-bottom: 40px;
}
@media screen and (max-width: 992px) {
  .treaning__text_bottom {
    gap: 33px;
    margin-bottom: 22px;
  }
}
.treaning__text_bottom li {
  gap: 22px;
}
@media screen and (max-width: 992px) {
  .treaning__text_bottom li {
    align-items: flex-start !important;
    gap: 15px;
  }
}
.treaning__text_bottom li img {
  width: 110px;
  flex-shrink: 0;
}
@media screen and (max-width: 992px) {
  .treaning__text_bottom li img {
    width: 75px;
  }
}
.treaning__text_bottom li p {
  font-size: 18px;
  line-height: 124.5%;
  letter-spacing: 3%;
  color: #303030;
}
@media screen and (max-width: 992px) {
  .treaning__text_bottom li p {
    padding-top: 9px;
    font-size: 15px;
  }
}
.treaning__text_bottom li p span {
  font-weight: 600;
}
.treaning__right {
  width: calc(50% - 15px);
}
@media screen and (max-width: 992px) {
  .treaning__right {
    width: 100%;
  }
}
.treaning__right_card {
  width: 100%;
  margin-bottom: 21px;
}
.treaning .swiper {
  border: 1px solid #CCCCCC;
  border-radius: 45px;
  margin-bottom: 30px;
}
@media screen and (max-width: 992px) {
  .treaning .swiper {
    border-radius: 30px;
    margin-bottom: 22px;
  }
}
.treaning .swiper-slide {
  padding: 35px 36px 45px 31px;
}
@media screen and (max-width: 992px) {
  .treaning .swiper-slide {
    padding: 26px 27px 29px;
  }
}
.treaning__swp_head {
  margin-bottom: 32px;
}
.treaning__swp_head h3 {
  color: #303030;
  font-size: 26px;
  line-height: 124.5%;
  letter-spacing: 3%;
  font-weight: 400;
}
@media screen and (max-width: 992px) {
  .treaning__swp_head h3 {
    font-size: 24px;
  }
}
.treaning__swp_head p {
  color: #CCCCCC;
  font-size: 17px;
  line-height: 124.5%;
  letter-spacing: 3%;
}
@media screen and (max-width: 992px) {
  .treaning__swp_head p {
    font-size: 15px;
  }
}
.treaning__swp_body {
  gap: 45px;
}
@media screen and (max-width: 992px) {
  .treaning__swp_body {
    gap: 21px;
  }
}
.treaning__swp_body li {
  gap: 46px;
}
@media screen and (max-width: 992px) {
  .treaning__swp_body li {
    gap: 22px;
  }
}
@media screen and (max-width: 992px) {
  .treaning__swp_body img {
    width: 41px;
    flex-shrink: 0;
  }
}
.treaning__swp_body h5 {
  gap: 14px;
  font-size: 17px;
  line-height: 124.5%;
  color: #303030;
  letter-spacing: 3%;
  font-weight: 600;
  margin-bottom: 8px;
}
@media screen and (max-width: 992px) {
  .treaning__swp_body h5 {
    font-size: 15px;
    gap: 11px;
    gap: 9px;
  }
}
.treaning__swp_body h5 span {
  color: #8D8E92;
  font-weight: 400;
}
.treaning__swp_body p {
  font-size: 15px;
  line-height: 124.5%;
  letter-spacing: 3%;
  color: #303030;
}
@media screen and (max-width: 992px) {
  .treaning__swp_body p {
    font-size: 15px;
  }
}
.treaning .swp_control {
  gap: 35px;
}
.treaning .swp_control .swiper_pagination {
  display: inline-flex;
  width: auto;
}

.magic {
  padding-bottom: 148px;
}
@media screen and (max-width: 992px) {
  .magic {
    padding-bottom: 90px;
  }
}
.magic__container {
  gap: 30px;
}
@media screen and (max-width: 992px) {
  .magic__container {
    gap: 20px;
  }
}
.magic__content {
  width: calc(33.3333333333% - 20px);
}
@media screen and (max-width: 992px) {
  .magic__content {
    width: 100%;
  }
}
.magic__content_foot {
  gap: 30px;
}
@media screen and (max-width: 992px) {
  .magic__content_foot {
    justify-content: center;
  }
}
.magic__content_foot .line {
  width: 1px;
  height: 38px;
  flex-shrink: 0;
  background: #303030;
}
.magic__content_foot h4 {
  width: 57px;
  height: 57px;
  border-radius: 50%;
  border: 0.7px solid #303030;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 24px;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
}
.magic__content_foot h4.text_2 {
  font-size: 14px;
  padding-top: 3px;
}
.magic__content_foot h4.text_2 span {
  margin-top: 0;
}
.magic__content_foot h4 span {
  font-size: 13px;
  margin-top: -3px;
}
.magic__subtitle {
  font-size: 26px;
  line-height: 124.5%;
  letter-spacing: 3%;
  margin: 34px 0;
}
@media screen and (max-width: 992px) {
  .magic__subtitle {
    text-align: center;
    font-size: 18px;
    margin: 20px 0;
  }
  .magic__subtitle br {
    display: none;
  }
}
.magic__description {
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 27px;
}
@media screen and (max-width: 992px) {
  .magic__description {
    margin-bottom: 20px;
    font-size: 14px;
    text-align: center;
  }
}
.magic__card {
  width: calc(33.3333333333% - 20px);
  padding-top: 25px;
}
@media screen and (max-width: 992px) {
  .magic__card {
    width: 100%;
    text-align: center;
    padding-top: 0;
  }
}
.magic__card img {
  width: 100%;
  transform: scale(1.05);
}
@media screen and (max-width: 992px) {
  .magic__card img {
    max-width: 375px;
  }
}
.magic__right {
  width: calc(33.3333333333% - 20px);
  gap: 21px;
}
@media screen and (max-width: 992px) {
  .magic__right {
    width: 100%;
    gap: 15px;
  }
}
.magic__right.text {
  gap: 36px;
}
@media screen and (max-width: 992px) {
  .magic__right.text {
    gap: 20px;
  }
}
.magic__right.text h3 {
  font-size: 26px;
  line-height: auto;
  font-weight: 400;
}
@media screen and (max-width: 992px) {
  .magic__right.text h3 {
    font-size: 20px;
  }
}
.magic__right.text h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
@media screen and (max-width: 992px) {
  .magic__right.text h5 {
    font-size: 14px;
    line-height: 100%;
  }
}
.magic__right.text ul {
  gap: 15px;
  list-style-type: disc;
  padding-left: 25px;
}
@media screen and (max-width: 992px) {
  .magic__right.text ul {
    gap: 10px;
    padding-left: 15px;
  }
}
.magic__right.text ul li {
  font-size: 17px;
  line-height: 180%;
  font-weight: 500;
}
@media screen and (max-width: 992px) {
  .magic__right.text ul li {
    font-size: 14px;
    line-height: 100%;
  }
}
.magic__right.text p {
  font-size: 17px;
  line-height: 121%;
  color: #8D8E92;
}
@media screen and (max-width: 992px) {
  .magic__right.text p {
    font-size: 14px;
  }
}
.magic .main_accordion__btn {
  gap: 24px;
}
.magic .main_accordion__body ul {
  display: flex;
  flex-direction: column;
  gap: 23px;
  padding-top: 31px;
}
.magic .main_accordion__body li {
  font-size: 15.76px;
  line-height: 124.5%;
  letter-spacing: 3%;
  display: flex;
  align-items: center;
  gap: 21px;
}
.magic .main_accordion__body li .number {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #A8FCE0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15.66px;
  line-height: 80.5%;
  flex-shrink: 0;
}

.contact {
  padding: 100px 0 324px;
}
@media screen and (max-width: 992px) {
  .contact {
    padding: 0 0 80px;
  }
}
.contact__container {
  gap: 72px;
}
@media screen and (max-width: 1300px) {
  .contact__container {
    gap: 30px;
  }
}
.contact__form h2 {
  margin-bottom: 22px;
}
.contact__form p {
  font-size: 17px;
  line-height: 180%;
  margin-bottom: 46px;
}
@media screen and (max-width: 992px) {
  .contact__form p {
    font-size: 14px;
    text-align: center;
  }
}
.contact__form .form_group {
  gap: 24px;
  margin-bottom: 28px;
}
.contact__form .form_inp {
  position: relative;
  width: calc(50% - 12px);
}
@media screen and (max-width: 992px) {
  .contact__form .form_inp {
    width: 100%;
  }
}
.contact__form .form_inp label {
  font-size: 17px;
  line-height: 180%;
  letter-spacing: -2%;
  background: #fff;
  padding: 0 7.35px;
  position: absolute;
  top: -13.51px;
  left: 16.9px;
}
.contact__form .form_inp label span {
  color: #A9B5F9;
}
.contact__form .form_inp input, .contact__form .form_inp textarea {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8.82px;
  font-size: 14px;
  line-height: 124.5%;
  letter-spacing: 3%;
  padding: 21px 24.5px;
  color: #303030;
}
.contact__form .form_inp input::-moz-placeholder, .contact__form .form_inp textarea::-moz-placeholder {
  color: rgba(0, 0, 0, 0.45);
}
.contact__form .form_inp input::placeholder, .contact__form .form_inp textarea::placeholder {
  color: rgba(0, 0, 0, 0.45);
}
.contact__form .form_inp input:focus, .contact__form .form_inp textarea:focus {
  border-color: #303030;
}
.contact__form .form_inp.text {
  width: 100%;
  margin-bottom: 22px;
}
.contact__form .form_inp.text textarea {
  height: 106px;
  resize: none;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .contact__form .btn_lightgreen {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.contact__networks {
  gap: 109px;
  width: 520px;
  flex-shrink: 0;
}
@media screen and (max-width: 1300px) {
  .contact__networks {
    width: 400px;
    gap: 30px;
  }
}
.contact__networks a {
  font-size: 43px;
  line-height: 100%;
}
@media screen and (max-width: 992px) {
  .contact__networks a {
    font-size: 24px;
    display: block;
  }
}
.contact__networks span {
  font-size: 16px;
  line-height: 180%;
  color: rgba(0, 0, 0, 0.45);
}

.footer {
  padding-bottom: 63px;
}
@media screen and (max-width: 992px) {
  .footer {
    padding-bottom: 30px;
  }
}
.footer__container {
  gap: 30px;
}/*# sourceMappingURL=style.css.map */